# HOW TO READ TSV FILE USING PANDAS AND ANALYSIS

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
orders=pd.read_csv('C:/Users/shruti sahrawat/Desktop/DA Project/dataset/chips.tsv', delimiter="\t")

In [42]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [46]:
orders.shape

(4622, 5)

In [52]:
orders.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [56]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [58]:
orders.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [60]:
orders.item_name.str.lower().head()

0             chips and fresh tomato salsa
1                                     izze
2                         nantucket nectar
3    chips and tomatillo-green chili salsa
4                             chicken bowl
Name: item_name, dtype: object

In [62]:
orders.item_name.str.swapcase().head()

0             cHIPS AND fRESH tOMATO sALSA
1                                     iZZE
2                         nANTUCKET nECTAR
3    cHIPS AND tOMATILLO-gREEN cHILI sALSA
4                             cHICKEN bOWL
Name: item_name, dtype: object

In [64]:
# ONLY SHOW CHICKEN ITEM LIST

In [70]:
orders[orders.item_name.str.contains('chicken',case=False)]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [72]:
orders[orders.item_name.str.contains('chicken',case=False)].shape

(1560, 5)

In [76]:
orders.item_price[0]

'$2.39 '

In [78]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [82]:
def convert(x):
    r=x.replace('$', ' ').strip()
    r=float(r)
    return r


orders['price']=orders.item_price.apply(convert)

In [84]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [86]:
# MAXIMUM & MINIMUM CHICKEN PRICE

In [94]:
orders.loc[orders.item_name.str.contains('chicken',case=False)].price.idxmax()

1254

In [96]:
orders.loc[orders.item_name.str.contains('chicken',case=False)].price.idxmin()

1161

In [98]:
# HOW TO FIND MISSING RECORDS

In [100]:
orders.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
price                    0
dtype: int64

In [104]:
orders[orders.choice_description.isnull()] #to see null records

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
...,...,...,...,...,...,...
4600,1827,1,Chips and Guacamole,NaN,$4.45,4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45,4.45
4613,1831,1,Chips,NaN,$2.15,2.15
4614,1831,1,Bottled Water,NaN,$1.50,1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

In [108]:
new_orders=orders.dropna()# del orders with null valuesin new var

In [110]:
new_orders.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
price                 0
dtype: int64

In [112]:
new_orders.shape

(3376, 6)

In [118]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [120]:
orders.choice_description.head()

0                                                  NaN
1                                         [Clementine]
2                                              [Apple]
3                                                  NaN
4    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Name: choice_description, dtype: object

In [122]:
# to remove square bracket  in choice_description

In [124]:
orders['choice_description']=orders['choice_description'].map(lambda x:str(x).lstrip('[').rstrip(']'))

In [126]:
orders.choice_description.head()

0                                                  nan
1                                           Clementine
2                                                Apple
3                                                  nan
4    Tomatillo-Red Chili Salsa (Hot), [Black Beans,...
Name: choice_description, dtype: object

In [130]:
bill=orders.quantity*orders.price

In [132]:
orders.insert(6,'Total Bill',bill)

In [134]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price,price,Total Bill
0,1,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39,2.39
1,1,1,Izze,Clementine,$3.39,3.39,3.39
2,1,1,Nantucket Nectar,Apple,$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), [Black Beans,...",$16.98,16.98,33.96