# HOW TO READ SQL DATASET USING PANDAS & ANALYSIS:-

# Aim is to read Sql Data and convert it into df and then to csv format

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\shruti sahrawat\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\shruti sahrawat\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shruti sahrawat\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shruti sahrawat\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import pymysql
import sqlalchemy

#reading data of sql and convert into dataframe:

#pd.read_sql_table() requires table name

#pd.read_sql_query() requires query

In [ ]:
engine=sqlalchemy.create_engine('mysql+pymysql://root:password@host:3306/database_name')

In [ ]:
df=pd.read_sql_table('cutomer''(table_name)',engine)
df.head()

In [ ]:
df=pd.read_sql_table('cutomer',engine,columns=['cname','c_address'])
df.head()

In [ ]:
df=pd.read_sql_query('select * from customer', engine)
df.head()

In [ ]:
query='''select c.cname,c.caddress,o.pname,o.qty,o.price from cutomer c inner join  orders o on c.cid =o.cid'''

In [ ]:
df=pd.read_sql_query(query,engine)
df

In [ ]:
df.to_csv('new_db.csv',index=False) # will convert data to csv

# Aim is to Append sql data with csv data

In [ ]:
df=pd.read_sql_table('cutomer',engine)
df

In [ ]:
df2.pd.read_csv('dataset/cutomers.csv')
df2

In [ ]:
df2.rename(columns={
        'CNAME':'cname',
        'CUSTOMER ADDRESS':'c_address'
},inplace=True)
df2

In [ ]:
df2.to_sql(name='customer',con=engine,if_exists='append',index=False)
# tells number of records which are added to sql